/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap');

/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  display: block;
}


/* header section*/
header {
  height: 100vh;
}

.slider-image01 {
  background-size: cover;
  background-position: bottom;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/slider01.jpg);
}

.slider-image02 {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/slider02.jpg);
}

header nav {
  color: rgb(26, 83, 26);
  height: 5rem;
  padding: 1rem 5vw;
  background-color: white;
  display: block;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding-top: 1.4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
}

header nav .logo {
  width: 200px;
  display: inline-block;
}

.backScreen {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(29, 29, 29, 0.904);
  z-index: -100;
}

header nav .shop-name {
  font-family: 'Cardo', serif;
  color: rgb(26, 83, 26);
  font-size: 2rem;
  text-transform: uppercase;
}

header .title {
  text-align: center;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
}

.title-top {
  display: block;
}

.title-covid {
  display: none;
}

.show {
  display: block;
}

.close {
  display: none;
}

header .title h1 {
  color: white;
  font-size: 3rem;
}

header .title a {
  display: inline-block;
  margin-top: 2.5rem;
  padding: 0.7rem 1.5rem;
  color: orange;
  border: 1px solid orange;
  border-radius: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: all 0.2s linear;
}

header .title a:hover {
  margin-top: 2.5rem;
  padding: 0.7rem 1.5rem;
  color: white;
  background-color: rgb(224, 158, 36);
  transform: translateY(-3px);
}

nav .navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: -1;
  background-color: white;
  width: 100%;
  height: 15rem
}

nav .navbar li:nth-child(1) {
  position: absolute;
  top: 5.5rem;
  width: 100%;
}

nav .navbar li:nth-child(2) {
  position: absolute;
  top: 8.5rem;
  width: 100%;
}

nav .navbar li:nth-child(3) {
  position: absolute;
  top: 11.5rem;
  width: 100%;
}

nav .navbar a {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  color: rgb(26, 83, 26);
  text-transform: uppercase;
  transition: all 0.3s linear;
}

nav .navbar a:hover {
  color: rgb(235, 72, 72);
  font-size: 1.6rem;
}

header .menu-icon {
  position: absolute;
  top: 1.6rem;
  right: 1.5rem;
  font-size: 2rem;
  width: 2.5rem;
  color: rgb(26, 83, 26);
  background-color: white;
  border: 0;
  cursor: pointer;
  transition: all 0.3s linear;
}

header .menu-icon:focus {
  outline: none;
}

header .menu-icon:hover {
  transform: scale(1.1) translateY(-3px)
}

header .close-icon {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2rem;
  width: 2.5rem;
  color: rgb(26, 83, 26);
  background-color: white;
  border: 0;
  cursor: pointer;
  transition: all 0.3s linear;
  display: none;
}

header .close-icon:focus {
  outline: none;
}

header .close-icon:hover {
  transform: scale(1.1) translateY(-3px)
}

header .menu-toggle {
  display: none;
}

header .close-toggle {
  display: block;
}

nav .toggle {
  display: block;
}

header .titleToggle {
  display: block;
}
/* nav bar */
@media (min-width: 850px) {
  header .title h1 {
    font-size: 5rem;
  }
  header nav .logo {
    padding-top: 16px;
  }
  nav .navbar {
    position: static;
    color: black;
    width: 100%;
    height: inherit;
  }

  nav .navbar a {
    font-size: 1.1rem;
  }

  nav .navbar a:hover {
    font-size: 1.1rem;
  }

  nav .navbar li {
    text-align: center;
  }

  nav .navbar li:nth-child(1),
  nav .navbar li:nth-child(2),
  nav .navbar li:nth-child(3) {
    position: static;
    display: inline-block;
    width: 100px;
  }

  nav .navbar {
    display: flex;
    align-items: center;
  }

  header .menu-icon,
  header .close-icon,
  header .backScreen {
    display: none;
  }

  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav ul li:not(:first-of-type) {
    padding-left: 1rem;
    margin-top: auto 0;
  }

  header nav .toggle {
    display: none;
  }

}
/* header slider */
.slider01 {
  position: absolute;
  top: 80%;
  left: 45%;;
  height: 20px;
  width: 20px;
  background: linear-gradient(235deg, rgba(207, 207, 207, 0.945), rgba(204, 204, 204, 0.932));
  border-radius: 50%;
  cursor: pointer;
  transform: translateX(-45%);
}

.slider02 {
  position: absolute;
  top: 80%;
  left: 55%;;
  height: 20px;
  width: 20px;
  background: linear-gradient(235deg, rgba(207, 207, 207, 0.945), rgba(204, 204, 204, 0.932));
  border-radius: 50%;
  cursor: pointer;
  transform: translateX(-55%);
}

/* about section */
.section{
  width: 90vw;
  margin: 5rem auto;
}
.about-center{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.about-center img{
  display: block;
}
.about-img{
  flex: 1;
  align-self: center;
}
.about-info{
  flex: 1;
  align-self: center;
}
.about-photo{
  width: 100%;
  min-width: 300px;
}

@media(max-width: 670px){
  .about-center{
      display: block;
  }
}


/* google map section */
.section-googleMap .row:nth-child(1) {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
}

.section-googleMap .row:nth-child(1) h2 {
  padding-top: 2rem;
}

.section-googleMap .row:nth-child(2) {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-googleMap .map-image, .section-googleMap .info {
  flex: 1;
  align-self: center;
}

.section-googleMap .info {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.section-googleMap .info ul {
  font-size: 1.2rem;
  font-style: italic;
}

.section-googleMap .info ul li:nth-child(2) {
  color: black;
}

.section-googleMap .info ul li:not(:nth-child(1)) {
  margin-top: 1rem;
}

.section-googleMap .info ul span {
  font-size: 1.5rem;
  text-decoration: underline;
  display: inline-block;
  width: 100%;
}

.section-googleMap .info .open-map {
  color: white;
  margin: 2rem auto;
  padding: 0.7rem 1.5rem;
  background-color: orange;
  font-size: 1.5rem;
  border-radius: 1rem;
  transition: all 0.2s linear;
}

.section-googleMap .info .open-map:hover {
  color: orange;
  border: 1px solid orange;
  background-color: white;
}

.section-googleMap .map-image img {
  width: 100%;
  min-width: 350px;
}
@media (min-width: 786px) {
  .section-googleMap {
    width: 90vw;
    margin: 5rem auto;
  }

  .section-googleMap .row:nth-child(1) h2 {
    padding-top: initial;
  }

  .section-googleMap .info a {
    margin: initial;
    margin: 2rem 0;
  }

  .section-googleMap .row:nth-child(2) {
    display: flex;
    flex-direction: row;
  }
  .section-googleMap .info ul span {
    font-size: 1.3rem;
    text-decoration: none;
    display: inline-block;
  }
}@media (min-width: 1270px) {
  .section-googleMap .info ul span {
    font-size: 1.3rem;
    display: inline-block;
    width: 100px;
  }
}

/* ------------------------------------------------ */

/* galley section  */
.container {
	margin: auto auto;
  padding: 2rem 2rem;
  background-color:#FFB905;
}

.photo-gallery-title {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 10rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: .5rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: inline;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}

/* ------------------------------------------------ */

/* footer section */
.footer{ 
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1F451E;
  padding: 1rem;
}

.footer .fab{
  color:#FFB905;
  cursor: pointer;
  font-size:2rem;
  margin: .5rem .3rem;
}

.footer p{
  font-weight: bold;
  font-size: 1.5rem;
  color: whitesmoke;
}

.sign-up-button{
  margin: 0 1rem;
  border-radius: 20px;
  padding: .5rem 1rem;
  cursor: pointer;
  background-color: transparent;
  color:#FFB905;
  border: solid .1rem #FFB905;
  transition: all 0.2s ease-in-out;
}

.sign-up-button:hover{
  background-color: #FFB905;
  color: #1F451E;
}
