/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap');

/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  display: block;
}


/* header section*/
header {
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/menuPage.jpg);
}

header nav {
  color: rgb(26, 83, 26);
  height: 5rem;
  padding: 1rem 5vw;
  background-color: white;
  display: block;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding-top: 1.4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
}

header nav .logo {
  width: 200px;
  display: inline-block;
}

.backScreen {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(29, 29, 29, 0.904);
  z-index: -100;
}

header nav .shop-name {
  font-family: 'Cardo', serif;
  color: rgb(26, 83, 26);
  font-size: 2rem;
  text-transform: uppercase;
}

header .title {
  text-align: center;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
}

.title-top {
  display: block;
}

.title-covid {
  display: none;
}

.show {
  display: block;
}

.close {
  display: none;
}

header .title h1 {
  color: white;
  font-size: 3rem;
}

header .title a {
  display: inline-block;
  margin-top: 2.5rem;
  padding: 0.7rem 1.5rem;
  color: orange;
  border: 1px solid orange;
  border-radius: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: all 0.2s linear;
}

header .title a:hover {
  margin-top: 2.5rem;
  padding: 0.7rem 1.5rem;
  color: white;
  background-color: rgb(224, 158, 36);
  transform: translateY(-3px);
}

nav .navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: -1;
  background-color: white;
  width: 100%;
  height: 15rem
}

nav .navbar li:nth-child(1) {
  position: absolute;
  top: 5rem;
  width: 100%;
}

nav .navbar li:nth-child(2) {
  position: absolute;
  top: 8.2rem;
  width: 100%;
}

nav .navbar li:nth-child(3) {
  position: absolute;
  top: 11.5rem;
  width: 100%;
}

nav .navbar a {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  color: rgb(26, 83, 26);
  text-transform: uppercase;
  transition: all 0.3s linear;
}

nav .navbar a:hover {
  color: rgb(235, 72, 72);
  font-size: 1.6rem;
}

header .menu-icon {
  position: absolute;
  top: 1.6rem;
  right: 1.5rem;
  font-size: 2rem;
  width: 2.5rem;
  color: rgb(26, 83, 26);
  background-color: white;
  border: 0;
  cursor: pointer;
  transition: all 0.3s linear;
}

header .menu-icon:focus {
  outline: none;
}

header .menu-icon:hover {
  transform: scale(1.1) translateY(-3px)
}

header .close-icon {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2rem;
  width: 2.5rem;
  color: rgb(26, 83, 26);
  background-color: white;
  border: 0;
  cursor: pointer;
  transition: all 0.3s linear;
  display: none;
}

header .close-icon:focus {
  outline: none;
}

header .close-icon:hover {
  transform: scale(1.1) translateY(-3px)
}

header .menu-toggle {
  display: none;
}

header .close-toggle {
  display: block;
}

nav .toggle {
  display: block;
}

header .titleToggle {
  display: block;
}
/* nav bar */
@media (min-width: 850px) {
  header .title h1 {
    font-size: 5rem;
  }
  header nav .logo {
    padding-top: 16px;
  }
  nav .navbar {
    position: static;
    color: black;
    width: 100%;
    height: inherit;
  }

  nav .navbar a {
    font-size: 1.1rem;
  }

  nav .navbar a:hover {
    font-size: 1.1rem;
  }

  nav .navbar li {
    text-align: center;
  }

  nav .navbar li:nth-child(1),
  nav .navbar li:nth-child(2),
  nav .navbar li:nth-child(3) {
    position: static;
    display: inline-block;
    width: 100px;
  }

  nav .navbar {
    display: flex;
    align-items: center;
  }

  header .menu-icon,
  header .close-icon,
  header .backScreen {
    display: none;
  }

  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav ul li:not(:first-of-type) {
    padding-left: 1rem;
    margin-top: auto 0;
  }

  header nav .toggle {
    display: none;
  }

}

/* lunch section */
.menu-section {
  width: 90vw;
  max-width: 815px;
  margin: 5rem auto;
}

.menu-section .menu-time {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.menu-section .menu-time .menu-list{
  display: flex;
  justify-content: space-around;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.418);
}

.menu-section .menu-time .menu-list li {
  font-size: 1.3rem;
  transition: all 0.2s linear;
}

.menu-section .menu-time .menu-list li:hover {
  transform: scale(1.1);
}

.menu-section .normalFood h2 {
  text-align: center;
  margin: 3rem 0 2rem 0;
  font-size: 1.2rem;
}

.menu-section .normalFood:not(:first-of-type) h2::after {
  content: "";
  border: 1px solid rgba(26, 83, 26, 0.274);;
  display: block;
  width: 90vw;
  margin: 1rem auto 0;
}

.menu-section .normalFood .item-section {
  padding: 1rem;
  background: linear-gradient(235deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.918));
  border-radius: 0.1rem;
  box-shadow: 3px 3px 6px rgba(114, 114, 114, 0.664);
}

.menu-section .normalFood article {
  width: calc(100% - 3rem);
  margin-top: 0.3rem;
}

.menu-section .normalFood article:not(:last-of-type) {
  margin-bottom: 1.8rem;
}

.menu-section .normal .item {
  display: flex;
  justify-content: space-between;
}

.menu-section .normal .item strong {
  font-size: 1.1rem;
  font-style: italic;
}

.menu-section .happyHour {
  height: 50vh;
  background-color: yellow;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.focus {
  color: red;
  border-bottom: 3px solid rgba(230, 0, 0, 0.418);
}

@media (min-width: 900px) {
  .menu-section {
    width: 60vw;
  }
  .menu-section .normalFood:not(:first-of-type) h2::after {
    width: 100%;
    margin: 1rem 0 0;
  }
  .menu-section .normalFood h2 {
    text-align: left;
    padding: 0 16px;
  }
}

/* footer section */
.footer{ 
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1F451E;
  padding: 1rem;
}

.footer .fab{
  color:#FFB905;
  cursor: pointer;
  font-size: 2rem;
  margin: .5rem .3rem;
}

.footer p{
  font-weight: bold;
  font-size: 1.5rem;
  color: whitesmoke;
}

.sign-up-button{
  margin: 0 1rem;
  border-radius: 20px;
  padding: .5rem 1rem;
  cursor: pointer;
  background-color: transparent;
  color:#FFB905;
  border: solid .1rem #FFB905;
  transition: all 0.2s ease-in-out;
}

.sign-up-button:hover{
  background-color: #FFB905;
  color: #1F451E;
}
